@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.wrapper {
  @include mainFlex(flex-start, column);
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  background-image: url("../../images/jerome-pqfkN8WcdR8-unsplash.jpg");
  @include backgroundImg();
  .container {
    @include card();
    margin-top: 30px;
    height: 70vh;
    h2 {
      margin: -120px 0 30px 0;
    }
  }
}

// src\images\jerome-pqfkN8WcdR8-unsplash.jpg
@media screen and (min-width: 500px) {
  .container {
    width: 300px;
  }
}

@media screen and (min-width: 782px) {
  .wrapper {
    font-size: larger;
    @include mainFlex(flex-end, row);
    position: relative;
    .container {
      position: absolute;
      left: 150px;
      height: 80vh;
      width: 350px;
    }
  }
}
@media screen and (min-width: 900px) {
  .container {
    height: 90vh;
    width: 450px;
    font-size: larger;
  }
}
