@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.wrapper {
  @include mainFlex(center, column);

  .navLink {
    @include card();
    &:hover {
      cursor: pointer;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        text-align: center;

        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (min-width: 782px) {
  .navLink {
    width: 300px;
    font-size: larger;
  }
}
@media screen and (min-width: 900px) {
  .navLink {
    width: 400px;
    font-size: larger;
  }
}
