@mixin mainFlex($flexDirection) {
  display: flex;
  justify-content: $flexDirection;
  align-items: center;
  flex-direction: column;
}

@mixin backgroundImg() {
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
