@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap");

$font: "Merriweather", sans-serif;
$header: "Sniglet", serif;
$warningColor: #daa410;
$grey: #dcdce8;
$white: #ffffff;
$dark: #211e1e;

$cardColor: rgb(15, 23, 138);
