@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@100..900&display=swap");

$font-gluten: "Gluten", sans-serif;
$font-merri: "Merriweather";

$primaryColor: #224af5;
$secondaryColor: #132575;
$tertiaryColor: #6e88ff;
$warningColor: #ff5e42;

$primaryFontColor: #dcdce8;
$secondaryFontColor: #ffffff;
$darkFontColor: #211e1e;

$cardColor: rgb(15, 23, 138);
