@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.header {
  width: 100vw;
  @include mainFlex(center, column);
  background-color: $grey;
  color: $dark;
  font-size: 15px;
  margin: 0;
  padding: 0;
  h1 {
    margin: 0;
  }
}
