@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.header {
  @include mainFlex(center, column);
  font-size: 15px;
  margin: 0;
  padding: 0;
  h1 {
    margin: 0;
    font-size: 3rem;
    font-family: $header;
    font-weight: 400;
    font-size: 2.5rem;
  }
}
