@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.footer {
  background-color: $grey;
  height: 100px;
  width: 100vw;
  @include mainFlex(center, column);
  a {
    text-decoration: none;
    color: $dark;
  }
}
