@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.wrapper {
  width: 100vw;
  @include mainFlex(center);
  margin-top: 5px;
  :hover {
    cursor: pointer;
  }

  .active {
    color: yellow;
  }
  .notActive {
    color: white;
  }
}
