@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.wrapper {
  width: 100vw;
  @include mainFlex(center, column);
  margin-top: 30px;
  :hover {
    cursor: pointer;
  }

  .active {
    color: yellow;
    font-size: 25px;
  }
  .notActive {
    color: white;
    font-size: 22.5px;
  }
}
