@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.wrapper {
  // width: 100vw;
  height: fit-content;
  @include mainFlex(space-between, column);
  margin-top: 30px;

  .active {
    color: yellow;
    font-size: 25px;
  }
  .notActive {
    color: #000000;
    font-size: 22.5px;
    :hover {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 900px) {
    @include mainFlex(flex-end, row);
  }
}
