@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.homepage {
  background-color: $primaryColor;
  height: 600px;
  width: 100vw;
  @include mainFlex(center);
}

// @media screen and (max-width: 571px) {
// }
