@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.homepage {
  @include mainFlex(center, column);
  gap: 30px;
  color: #ffffff;
  background-image: url("../../images/jerome-pqfkN8WcdR8-unsplash.jpg");
  @include backgroundImg();
  .wrapper {
    background-color: #ffffff;
    color: $dark;
    border-radius: 2px;
    opacity: 0.93;
    margin: 0px 0px 100px 0px;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    h2 {
      @include mainFlex(center, column);
      padding: 10px 20px 10px 20px;
      border-radius: 6px;
      font-size: 1.2rem;
      @media screen and (min-width: 782px) {
        font-size: 1.3rem;
      }
      @media screen and (min-width: 900px) {
        font-size: 1.4rem;
      }
    }
  }
}
